<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>****title****</title>
        <link rel="stylesheet" href="main.css">
        <script>
            var speed = 8;
            var hideCursor = function(){
                document.body.style.cursor='none';
            };
            window.onload = function(){
                hideCursor();
            };
            window.onkeyup = function(event){
                if(event.keyIdentifier=== 'Left'|| event.keyIdentifier=== 'U+0048'){
                    window.location.href="****prev****";
                }else if(event.keyIdentifier === 'Right' || event.keyIdentifier === 'U+004C'){
                    window.location.href="****next****";
                }else if(event.keyIdentifier === 'U+0049'){
                    window.location.href="index.html";
                }
            };
            window.onkeypress = function(event){
                if(event.keyIdentifier === 'U+004A'){
                    window.scroll(0,window.scrollY+speed);
                }else if(event.keyIdentifier === 'U+004B'){
                    window.scroll(0,window.scrollY-speed);
                }
            };
        </script>
    </head>
    <body>
        ****section**** 
        <hr/>
        <a href="****prev****">上一章</a>
        <a href="index.html">目录</a>
        <a href="****next****">下一章</a><br/>
    </body>
</html>
