<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>****title****</title>
        <link rel="stylesheet" href="main.css">
        <script>
            window.onkeyup = function(event){
                if(event.keyIdentifier === 'U+0049'){
                    window.history.go(-1);
                }
            };
        </script>
    </head>
    <body>
        <header>
        <h1>****title****</h1>
        </header>
        <div>
            <hr/>
            <ul class='sections'>
                ****index**** 
            </ul>
        </div>
    </body>
</html>
